<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId            : '364106480881420',
      autoLogAppEvents : true,
      xfbml            : true,
      version          : 'v3.3'
    });
  };
</script>
<script async defer src="https://connect.facebook.net/de_DE/sdk.js"></script>
<div>
  <script>
    FB.AppEvents.logPageView();

  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "https://connect.facebook.net/de_DE/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
</div>
{{#paper-button raised=true primary=true onClick=(action "share")}}Share your story!{{/paper-button}}
