<div class="jumbo">
  <div class="right tomster"></div>
  <h2>Have a look around!</h2>
  <p>
    Welcome! <br>
    Have a look around, click on the "Facebookroute" to navigate to the Test with the Facebookapp <br>
    and click on the "videoroute" to navigate to the video challenge!
  </p>
</div>
