<div class="jumbo">
  <div class="right tomster"></div>
  <h2>This is the local video route</h2>
  <p>
    Note that you're now in the local video route. This means, that
    you have to configure your browser that local video content can be
    displayed. This is not allowed by standard. Please refer to your
    browser documentation to enable this feature. <br> <br>
    Click on "Play" for playing the video, "Pause" to pause it. <br>
    Click on "Jump to Input" to reach your typed input. <br>
    Note that your input can only vary from 0 to 13 due to the length of the video.
  </p>
  {{video-local}}
</div>
