<div class="jumbo">
  <div class="right tomster"></div>
  <h2>This ist just a test for the videoroute</h2>
  <p>
    This is just a test for using the videoroute with ember. I'm still trying to figure out how
    this acutally works. I guess I'm getting sort of a hint on it.
  </p>
  {{sample-video}}
</div>
