<div class="jumbo">
  <div class="right tomster"></div>
  <h2>This is the videoroute</h2>
  <p>
    Click on "Play" for playing the video, "Pause" to pause it. <br>
    Click on "Jump to Input" to reach your typed input. <br>
    Note that your input can only vary from 0 to 13 due to the length of the video.
  </p>
  {{sample-video}}
</div>
